/*General Styles and CSS Variables*/
:root{
    --footer-text-color: #fff;
    --main-bg-color: #C8C6C6;
    --accent-color-1: #A47E3B;
    --accent-color-2: #61481C;
    --accent-color-3: #BF9742;
    --accent-color-4: #1A120B;
    --main-font-family: 'Nunito Sans', sans-serif;
    --secondary-font-family: 'Satisfy', cursive;
    --accordion-bg: #C8C6C6;
    --accordion-button-bg: #C8C6C6;
}

body{
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
}

/*Start Of CSS Styles */


/*Navigation Styles*/

.navbar-inner{
    background-image: url("images/whole-bean-coffee.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.nav-link-item-custom{
    color: #fff;
}
.nav-link-item-custom:hover{
    color:var(--accent-color-1);
}
.sign-in-icon{
    color: #fff;
}
.sign-in-btn{
    color: #fff;
    background-color:var(--main-bg-color);
    border: none;
}
.sign-in:hover{
    color:var(--accent-color-1);
}

/*Heading Styles*/

.company-name{
    color: var(--accent-color-2);
    font-family: var(--main-font-family);
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}
.first-word{
    font-family: var(--secondary-font-family);
    font-size: 1.5rem;
    color: var(--accent-color-4);
    text-transform: uppercase;
    line-height: 5rem;
}

.company-year{
    color: var(--accent-color-4);
    font-family: var(--main-font-family);
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.coffee-list-items{
    font-family: var(--main-font-family);
    font-weight: 200;
    word-break: break-word;
}
.coffee-name{
    font-weight: bold;
}
.roast-name{
    font-style: italic;
}

.btn{
    background-color:var(--main-bg-color);
    border: none;
}

.btn:active, btn:focus{
    border: none;
}


/*Main Section Styles*/
.main-section-content{
    background-color:var(--main-bg-color);
    text-align: center;
}

.card-text-custom{
    font-family: var(--main-font-family);
    font-weight: 300;
}
.btn-custom{
    background-color: var(--accent-color-3);
}
img{
    width: 100%;
    height: 100%;
}

.accordion-item {
    background-color: var(--accordion-bg);
}
.coffee-list {
    /*border: 1px solid var(--accent-color-2);*/
    /*border-radius: 5px;*/
    margin: auto;
}


/*Footer Section Styles*/
.social-btn-bg{
    background-color: var(--accent-color-1);
}
.copyright{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}
.company-link-footer{
    color: var(--footer-text-color);
    text-decoration: none;
}
.email-link{
    color: var(--footer-text-color);
    text-decoration: none;
}


/*End Of CSS Styles*/


/*Media Queries Styles*/

/* X-Small Screen Size */
@media screen and (max-width: 576px) {
    .logo{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    .nar-bar-items{
        display: flex;
        align-items: center;
        margin-right: 2.7rem;
    }
    .company-name, .first-word, .company-year {
        font-size: 2rem;
    }
    .card-text-custom, .coffee-list-items{
        font-size: 1rem;
    }
    .list-of-roast{
        margin-top: 3rem;
    }
}

/* Small - Medium Screen Size */
@media screen and (min-width: 577px) and (max-width: 768px){
    .nar-bar-items{
        display: flex;
        margin-right: 3rem;
        align-items: center;
    }
}

/*Medium-Large Screen Size*/
@media screen and (min-width: 769px) and (max-width: 992px){
    .nar-bar-items{
        display: flex;
        margin-right: 3rem;
        align-items: center;
    }
}

/*Large to X-Large Screen Size*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    .nar-bar-items{
        display: flex;
        margin: auto;
        align-content: center;
    }.nav-link-item-custom{
         margin: 0 2rem;
     }
}

/*X-Large to XXL Screen Size*/
@media screen and (min-width: 1201px) and (max-width: 2000px){
    .nar-bar-items{
        display: flex;
        margin: auto;
        align-content: center;
    }.nav-link-item-custom{
         margin: 0 3rem;
     }
}